<% title "Computers" %>
<p>Your computers</p>

<ul id="computers">
  <% for computer in @computers %>
    <li><%= computer.name %> | <%# link_to("Wake", :controller => "wol", :action => "system_wol" %> | <%= link_to("Ping", :controller => "ping", :action => "query", :host_to_ping => computer.host) %></li>
  <% end %>
</ul>
