<% title "Ping" %>

<% form_tag :controller => "ping", :action => "quickping" do -%>
  <p>
    <%= label_tag "host_to_ping", "Host to ping" %><br />
    <%= text_field_tag "host_to_ping" %>
  </p>
  <p>
    <%= captcha_tags %>
  </p>
  <p>
    <%= submit_tag "Ping", :disable_with => "Pinging... (This might take some time)" %>
  </p>
<% end -%>