<% title "Ping" %>
<p>Find me in app/views/ping/index.html.erb</p>

<% form_tag :controller => "ping", :action => "query" do -%>
  <p>
    <%= label_tag "host", "Host to ping" %><br />
    <%= text_field_tag "host" %>
  </p>
  <p>
    <%= submit_tag "Ping" %>
  </p>
<% end -%>