<% title "Ping " + @host %>
<% if !@result.nil? %>
  <p style="color: <%= @result ? "green" : "red" %>">The host is <strong><%= @result ? "up" : "down" %></strong></p>
  <pre>
    <%=h @verbose %>
  </pre>  
<% else %>
  <p>You entered an invalid hostname.  If you believe this to be an error, please contact the administrator.</p>
<% end%>