body {
  background-color: #2e3436;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}


h1 {
  margin-top: 0;
}

h2 {
  font-family: Georgia, serif;
}

h2 a {
  color: #000;
  text-decoration: none;
}

h2 a:hover {
  text-decoration: underline;
}

label {
  font-weight: 700;
  font-size: 9pt;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 800px;
  border: solid 1px #babdb6;
}

#container {
  background-color: #FFF;
  padding: 20px 40px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

#flash_notice pre {
  font-size: 8pt;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

#header {
  background: #729fcf url('/images/header.png') 0 0;
  width: 800px;
  height: 200px;
}

#header p {
  text-align: right;
  color: #eeeeec;
  margin: 0;
  padding: 175px 5px 0 0;
}

#navigation {
  background: #8f5902;
}

#navigation ul, #subnavigation ul {
  margin: 0;
  padding: 4px 20px 6px 20px;
}

#navigation li, #subnavigation li {
  display: inline;
}

#navigation a:link, #navigation a:visited {
  color: #e9b96e;
  text-decoration: none;
  font-weight: 700;
  padding: 0 10px 0 0;
}

#navigation a:hover {
  color: #fff;
}

#subnavigation {
  background: #e9b96e;
}

#subnavigation a:link, #subnavigation a:visited {
  color: #8f5902;
  text-decoration: none;
  padding: 0 10px 0 0;
}

#subnavigation a:hover {
  color: #fff;
}

#users {
  color: #eeeeec;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 8pt;
}

#users a {
  background: #204a87;
  border: 2px solid #729fcf;
  padding: 3px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 8pt;
}

#users a:hover {
  background: #a5b9cf;
  color: #000;
}

div.computers, form {
  background: #d3d7cf;
  padding: 10px;
  margin-bottom: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

div.computers h2, form h2 {
  margin-top: 0;
}

span.address {
  font-family: "Courier New", "Courier", monospace;
  font-size: 110%;
}