<% title "Sent Magic Packet" %>
<p>You specified the following host:</p>
<ul>
  <li>Host address: <%=h @host_to_wake %></li>
  <li>MAC: <%=h @mac %></li>
</ul>
<p>The magic packet was sent to the specified host <%=h pluralize(@result, "time") %>.</p>