<% title "Wakify Home" %>

<% if !logged_in? %>
  <p>
    <strong>Wakify</strong> is a simple web pllication that lets you send
    Wake-On-LAN magic packets to computers. Once registered, you can also save
    hosts so that you don't have to manually enter their MAC and IP addresses.
  </p>
  <p>
    As an added feature you can also ping hosts to see if they are up.
  </p>
<% end %> 
