<% title "Wakify Home" %>
<p>
  <% if logged_in? %>
    Since you are logged in, you can save computers <%= link_to("here", :controller => "computers", :action => "new") %>.
  <% else %>
    <%= link_to "Log in", login_path %>
  <% end %> 
</p>

<p>Wake a computer without having to register.</p>

<%= render :partial => '/wakeonlan/wakehost' %>


