<div id="messageBox">
  <div id = "message"></div>
  <div class="clear">
    <div class="notifyForm">
      <h3>Notifier</h3>
      <% form_remote_for :news_letter_subscriber, :url => news_letter_subscribers_path, :loading => "$('progress_indicator').show();" , :success => "$('progress_indicator').hide();" do -%>
        <%= text_field_tag :email, 'Enter your email here', :class => "subscriberEmail", :onfocus => "if(this.value == 'Enter your email here'){ this.value = '' }", :onblur => "if(this.value == ''){ this.value = 'Enter your email here' }" -%>
        <%= submit_tag "Notify Me", :class => "notifyMeButton" -%><%= image_tag('launching_soon/spinner.gif', :style => "margin-left:10px; display:none", :id => 'progress_indicator') -%>
      <% end %>
      <span>* We never spam</span>
    </div>  
    <div class="aboutBlk">
      <h3>Wakify</h3>
      <p>
        Wakify is an easy to use web application that lets you wake your computers from anywhere in the world.
      </p>
      <p>
        Wakify will also be fully open sourced under a GPLv3 license.
      </p>
    </div>  
  </div>
  <div class="lauchTime">
    <p>
      <label>Launching In:</label>
      <span id="cdcontainer"></span>
    </p>
    <script type="text/javascript">
      //cdLocalTime("ID_of_DIV_container", "server_mode", LocaltimeoffsetMinutes, "target_date", "opt_debug_mode")
      //Note: "launchdate" should be an arbitrary but unique variable for each instance of a countdown on your page:
      var launchdate=new cdLocalTime("cdcontainer", "", 0, "<%= @launching_date -%>")
      launchdate.displaycountdown("days", formatresults2)
    </script>
  </div>
  <p class="note"></p>
</div>