development:
  domain: localhost:3000
  sitename: Wakify (dev)
  site_slogan: Quick and Easy Wake-On-LAN
  footer_text: &#169; 2009 Matias Korhonen. <a href="/terms">Terms of Service</a>
  wol_port: 9
  wol_count: 3
  ping_command: ping
  captcha_enabled: true
  captcha_salt: 709b483739c8deddea3511fb1a0ff6477e035008
  captcha_lower_limit: 0
  captcha_upper_limit: 12
  ga_enabled: false
  ga_tracking_code: UA-xxxxxx-x
  contact_email: support@wakify.com
  from_email: support@wakify.com
  launching_soon: false
  adsense: false
  adsense_client: pub-1234567890123456
  adsense_ad01: { slot: 1234567890, width: 728, height: 15 }

test:
  domain: test.host
  sitename: Wakify (test)
  site_slogan: Quick and Easy Wake-On-LAN
  footer_text: &#169; 2009 Matias Korhonen. <a href="/terms">Terms of Service</a>
  wol_port: 9
  wol_count: 3
  ping_command: ping
  captcha_enabled: false
  captcha_salt: 709b483739c8deddea3511fb1a0ff6477e035008
  captcha_lower_limit: 0
  captcha_upper_limit: 12
  ga_enabled: true
  ga_tracking_code: UA-xxxxxx-x
  contact_email: support@wakify.com
  from_email: support@wakify.com
  adsense: true
  adsense_client: pub-1234567890123456
  adsense_ad01: { slot: 1234567890, width: 728, height: 15 }
  
production:
  domain: wakify.com
  sitename: Wakify
  site_slogan: Quick and Easy Wake-On-LAN
  footer_text: &#169; 2009 Matias Korhonen. <a href="/terms">Terms of Service</a>
  wol_port: 9
  wol_count: 3
  ping_command: ping
  captcha_enabled: false
  captcha_salt: 709b483739c8deddea3511fb1a0ff6477e035008
  captcha_lower_limit: 0
  captcha_upper_limit: 12
  ga_enabled: true
  ga_tracking_code: UA-xxxxxx-x
  contact_email: support@wakify.com
  from_email: support@wakify.com
  adsense: true
  adsense_client: pub-1234567890123456
  adsense_ad01: { slot: 1234567890, width: 728, height: 15 }